@{
    ViewData["Title"] = "Nothing to Generate!";
}

<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Nothing to Generate.</h3>

            <p>
                We could not payroll for the specific date you have selected.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>